@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Medium.woff');
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    color: #253748;
    font-family: 'Poppins Regular';
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 20px;
}

h3, h2, h1 {
    color: #253748;
    font-family: 'Poppins Regular';
    font-weight: normal;
    margin: 0;
}

label {
    font-weight: normal;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.sh-navbar {
    background: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    padding: 2rem;
    margin: 0 auto;
}

.sh-brand {
    line-height: 7rem;
}

.sh-container {
    margin-top: 12rem;
}

.sh-nav {
    float: right;
}

.sh-timer{
    margin-left: 17rem;
}

.sh-label,
#UpdatePanel label{
    color: rgba(37, 55, 72, .5);
    text-transform: uppercase;
}

#UpdatePanel,
.sh-nav li {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.sh-nav li {
    padding: 2rem;
}


.sh-time,
#Clock {
    font-size: 3rem;
    font-weight: normal;
}

/*Form*/
.sh-form {
    font-family: 'Poppins Regular';
    margin: 0 auto;
    width: 80%;
}

.sh-form_wrapper {
    padding: 3rem;
    border: 1px solid rgba(37, 55, 72, .2);
    border-radius: 5px;
    width: 100%;
}

.sh-input {
    font-family: 'Poppins Regular';
    height: 42px;
    max-width: 100%;
}

.sh-input_option {
    padding: 0 2rem;
}

.sh-button {
    background-color: #BC4C1B;
    color: #FFFFFF;
}

    .sh-button:hover {
        background-color: #E1642F;
        color: #FFFFFF;
        transition: all .5s ease;
    }

/*Texts*/
.sh-title {
    font-size: 2rem;
    line-height: 6rem;
}

.sh-subtitle {
    color: #378D93;
    line-height: 6rem;
}

    /*Table styles*/
#MainContent_RegistrationGrid {
    width: 100%;
}

    #MainContent_RegistrationGrid tr {
        border: #fff;
        cursor: pointer;
        height: 5rem;
    }

        #MainContent_RegistrationGrid tr:nth-child(1) {
            cursor: default;
        }

        /*#MainContent_RegistrationGrid tr:hover {
            background-color: rgba(55, 141, 147, .2);
            border: rgba(55, 141, 147, 0);
        }*/

    #MainContent_RegistrationGrid td {
        padding: 2rem;
    }

    #MainContent_RegistrationGrid th {
        font-weight: normal;
        font-size: 14px;
        padding: 2rem;
    }

    #MainContent_RegistrationGrid tr:nth-child(even) {
        background-color: rgba(211, 215, 218, .2);
        /*border: rgba(211, 215, 218, 0);*/
    }

    /*#MainContent_RegistrationGrid tr:nth-child(even):hover {
        background-color: rgba(55, 141, 147, .2);
    }

        #MainContent_RegistrationGrid tr:nth-child(1):hover {
            background-color: #FFFFFF;
        }*/

